// ANIMATION FOR WORKS SECTION
@keyframes move-y {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
        // background-color: blue;
    }
}

%move-y {
    animation-name: move-y;
    animation-delay: .5s;
    animation-duration: .8s;
    animation-timing-function: ease;
    animation-fill-mode: backwards;
}

@keyframes loading {
    0% {
        transform: translateY(5px) 
    }
   
    100% {
        transform: translateY(0px) 
    }   
}

.animation {
    animation-duration: .9s;
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;
    animation-timing-function: ease-in-out;
}
// LOADING
.loading {
    animation-name: loading;
    @extend .animation;
}