.footer {
    background-color: var(--color-secondary);
    color: #fff;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: var(--margin-medium);
    font-size: var(--font-link);

    @media only screen and (max-width: $bp-medium) {
        //padding: var(--margin-medium) .7rem;
        font-size: 1.8rem;
    }
    @media only screen and (max-width: $bp-small) {
        padding: var(--margin-medium) 1rem;
        font-size: 1.6rem;
    }

    &__div {
        display: flex;
        justify-content: space-between; 
        align-items: center;   
                
        &--link {
            @media only screen and (max-width: $bp-medium) {
                flex-direction: column;
            }
        }
    }

    &__logo-container {
        height: 5.6rem;
    }

    &__logo {
        height: 100%;
        object-fit: contain;
        
    }

    &__list{
        display: flex;
        align-items: center;
        margin: 1.2rem 0;
        @media only screen and (max-width: $bp-small) {
            margin: 1.5rem 0 0;
        }
    }

    &__item{
        list-style-type: none;
                
    }
    &__link {
        @extend %first-letter;
        color: #fff;
        text-decoration: none;
        padding: var(--padding-xs);
        display: inline-block;
        transition: .3s ease all;
        cursor: pointer;
        @media only screen and (max-width: $bp-xsmall) {
            font-size: var(--font-xsmall);
            padding: .8rem 1rem;
        }

        &--social {
            padding: 0 var(--padding-xs);
            @media only screen and (max-width: $bp-xsmall) {
                font-size: var(--font-xsmall);
                padding: 0 1rem;
            }
        }
   
        &:hover,
        &:active
         {
            color: var(--color-grey-light);
        }
    }

    &__par {
        padding: var(--padding-xs);
        
    }
}

//NB Instagram icon didn't align well
// Fix for instagram icon

.footer__instagram {
    width: 2.5rem;
    height: 2.6rem;   
}