.header {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .2)), url("../images/bg.png");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 0;
    //padding: 10vh 0;
    width: 100%;
    min-height: calc(100vh - 6rem);
    margin: 0 auto;
    // background-blend-mode: darken;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;

    & > *:not(:last-child) {
        margin-bottom: 6vh;

        @media only screen and (max-width: $bp-small) {
            margin-bottom: 5rem;
        }
        @media only screen and (max-width: $bp-xsmall) {
            margin-bottom: 3rem;
        }
    }


    &__heading {
        // padding-left: 14vw;
        // padding-right: 14vw;
        max-width: 80rem;
        text-align: center;
        font-size: 6rem; 
        // background-color: red;
        line-height: 1.1;
        font-weight: 900;
        @extend %first-letter;

        @media only screen and (max-width: $bp-large) {
            font-size: 3.8rem;
            max-width: 60rem;
        } 
        @media only screen and (max-width: $bp-medium) {
            font-size: 4rem;
        } 
        @media only screen and (max-width: $bp-small) {
            font-size: 3.6rem;
            max-width: 90%;
        } 
    }

    &__ride {
        min-width: 40%;
        max-width: 52rem;
        text-align: center;
        //font-size: var(--font-medium);
        font-size: 3rem;
        @extend %first-letter;

     
        @media only screen and (max-width: $bp-large) {
            max-width: 42rem;
            font-size: 2.2rem;
        } 
        @media only screen and (max-width: $bp-medium) {
            font-size: 2rem;
        } 
        @media only screen and (max-width: $bp-small) {
            font-size: 1.8rem;
            max-width: 30rem;
        } 

    }

    &__input {
        min-width: 17rem;
        border: .1rem solid var(--color-secondary);     
        font-size: var(--font-small);
        color: var(--color-secondary-light);
        max-width: 60%;
        padding-left: var(--padding-side);
        flex: 50% 1 0;
        @media only screen and (max-width: $bp-large) {
            font-size: 1.6rem;
        } 
        @media only screen and (max-width: $bp-medium) {
            // font-size: var(--font-xsmall);
            // flex: 40% 1 0;
        }
     
        @media only screen and (max-width: $bp-small) {
            max-width: 57%;
        } 
        @media only screen and (max-width: $bp-xsmall) {
            font-size: var(--font-xsmall);
            min-height: 4.7rem;
        } 

        &-container {
            
            display: flex;
            // width: 80%;
            min-height: 5rem;
            width: 70%;
            max-width: 45rem;
            @media only screen and (max-width: $bp-small) {
                min-height: 5rem;
                width: 82%;
                max-width: 90%;
            }

            @media only screen and (max-width: $bp-xsmall) {
                flex-direction: column;
                max-width: 90%;
                min-height: 10rem;
                align-items: center;
                
            } 
        }

    }

    &__button {
        
        color: #fff;
        background-color: var(--color-secondary);
        
        border: none;
        padding: var(--padding-btn-bg);
        cursor: pointer;
        display: inline-block;
        font-size: var(--font-medium);
        transition: .4s ease;
        @extend %first-letter;

        ///START HERE TO STYLE BUTTON
        background-color: transparent;
        border: 1px solid var(--color-secondary);
        border-left: none;

        &:hover {
            // color: var(--color-grey-light);
            color: #fff;
            background-color: var(--color-secondary);
        }

        @media only screen and (max-width: $bp-medium) {
            font-size: var(--font-small);
        } 
        @media only screen and (max-width: $bp-small) {
            font-size: 1.6rem;
            padding: var(--padding-btn);
        } 
        @media only screen and (max-width: $bp-xsmall) {
            margin-top: 2rem;
            border: 1px solid var(--color-secondary);
        } 
    }
}