///STILL WORKING AT NAVIGATION

.nav {
    padding: 0 3vw;
    display: flex;
    align-items: center;

    @media only screen and (max-width: $bp-large) {
        padding: 0 4vw;
    }
     
    &__logo-container {
        margin-right: 1vw;
        height: var(--logo-height);
        width: var(--logo-width);
        font-size: 36;
    }

    &__logo {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    &__list{
        display: flex;
        align-items: center;
        margin-right: auto;
    
        @media only screen and (max-width: $bp-medium) {
         order: 1;
         margin-right: 0;
         margin-left: auto;
        display: none;
        }
    }
    &__item {
        list-style-type: none;
    }

    &__link {
        text-decoration: none;
        text-transform: capitalize;
        padding: 0 var(--padding-xs);
        transition: .3s ease all;
        cursor: pointer;
        font-size: var(--font-link);
        color: var(--color-grey-light);
        @media only screen and (max-width: $bp-small) {
            
        }
        @media only screen and (max-width: $bp-medium) {
            font-size: 1.4rem;
        } 
   
        &:hover {
            color: var(--color-grey-light);
        }
    }

    &__playstore-container {
        height: 3rem;
        width: 10rem;
        
        @media only screen and (max-width: $bp-medium) {
            min-width: 13rem;
            max-width: 18rem;
           }
    }

    &__playstore {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

// ////THIS ACTIVE CLASS IS AUTOMATICALLY PLACED BY REACT NAVLINK Component
.active {
    // color: var(--color-grey-light);
    color: var(--color-secondary);
}
