/* BREAK POINTS*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
///COLOR
//--color-secondary: dodgerblue;
--color-secondary:#2d9cdb;
--color-grey-light: #c5c2c2;

//FONT SIZE
--font-medium: 2rem;
//PADDING
--padding-btn: 1.2rem 1rem; 
--padding-small: 2rem 1.4rem; 
--padding-side: 1rem;
--padding-xs: 1rem 1.2rem;

// MARGIN 
--margin-medium: 4vh;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    font-size: 1.6rem;
}

.container {
    width: 100%;
    
    display: grid;
    grid-template-columns: minmax(1rem, 5rem) repeat(6, minmax(3rem, 1fr)) minmax(1rem, 5rem);
    grid-template-rows: min-content 80vh;
    grid-auto-flow: rows;
    grid-auto-rows: min-content;
    grid-gap: 2rem;

    & > * {
        grid-column: 1 / -1;
    }
}

///Components
%first-letter {
    &:first-letter {
        text-transform: uppercase;
    }
}

%section-heading {
    margin-top: var(--margin-medium);
}