/* BREAK POINTS*/
// Desktop first design implemented
$bp-large: 56.25em; // 900px ///for Navbar
$bp-medium: 46.875em; //750px //for experience section
$bp-small:  34.375em; //550px
$bp-xsmall: 25em; // 450px;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
///COLOR
--color-secondary:#2d9cdb;
--color-grey-light: #c5c2c2;

//FONT SIZE
--font-xlarge: 3.5rem;
--font-large: 2.5rem;
--font-medium: 2rem;
--font-small: 1.8rem;
--font-xsmall: 1.4rem;

//PADDING
--padding-btn: 1.4rem; 
--padding-small: 2rem 1.4rem; 
--padding-section: 2.5rem;
--padding-side: 2rem;
--padding-xs: 1rem 1.2rem;

// MARGIN 
--margin-medium: 4vh;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    font-size: 1.6rem;
}

.container {
    width: 100%;
    
    display: grid;
    grid-template-columns: minmax(1rem, 5rem) repeat(6, minmax(3rem, 1fr)) minmax(1rem, 5rem);
    grid-template-rows: 9rem minmax(86vh, 90vh);
    //grid-template-rows: min-content 80vh;
    grid-auto-flow: rows;
    grid-auto-rows: min-content;
    //grid-gap: 2rem;

    & > * {
        grid-column: 1 / -1;
    }
}

///Components
%first-letter {
    &:first-letter {
        text-transform: uppercase;
    }
}

%section-heading {
    //margin: var(--margin-medium) 0;
    //margin: 0;

}
