/* BREAK POINTS*/
// Desktop first design implemented
$bp-large: 56.25em; // 900px ///for Navbar
$bp-medium: 43.75em; //700px //for experience section
// $bp-medium: 46.875em; //750px //for experience section
$bp-small:  34.375em; //550px
$bp-xsmall: 25em; // 450px;

//BREAKPOINTS FOR FORM 
$bp-xlarge:  63.125em; //1010px

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
///COLOR
--color-secondary-dark:#136b9e;
--color-secondary:#2d9cdb;
--color-secondary-light:#84ccf6;
--color-grey-light: #c5c2c2;
--color-grey-dark: #b87272;

//FONT SIZE
--font-link: 1.5rem;
--font-xlarge: 3.2rem;
--font-large: 2.4rem;
--font-medium: 2rem;
--font-small: 1.8rem;
--font-xsmall: 1.4rem;

//LOGO
--logo-height: 3.6rem; 
--logo-width: 10.6rem; 

//PADDING
--padding-btn-bg: 1.4rem 3rem;
--padding-btn: 1.4rem; 
--padding-small: 2rem 1.4rem; 
--padding-section: 2.5rem;
--padding-side: 1.2rem;
--padding-side-xs: .8rem;
--padding-xs: 1rem 1.2rem;

// MARGIN 
--margin-large: 7vh;
--margin-medium: 4vh;

--margin-field: 2rem;
}


html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    width: 100%;
       font-size: 1.6rem;
       font-family: 'Nunito', sans-serif;
        //font-style: normal;
        font-weight: 400;
    
}

.container {
    width: 100%;
    
    display: grid;
    grid-template-columns: minmax(1rem, 5rem) repeat(6, minmax(3rem, 1fr)) minmax(1rem, 5rem);
    grid-template-rows: 6rem;
    //grid-template-rows: min-content 80vh;
    grid-auto-flow: rows;
    grid-auto-rows: min-content;
    //grid-gap: 2rem;

    & > * {
        grid-column: 1 / -1;
    }
}

///Components
%first-letter {
    &:first-letter {
        text-transform: uppercase;
    }
}

///ARTICLE
.article {
    //border: 1px solid var(--color-secondary);
    padding: var(--padding-small);
    
    &:first-child {
        margin-bottom: var(--margin-medium);   
    }
    
    @media only screen and (max-width: $bp-small) {
        margin-bottom: calc(.5 * var(--margin-medium));
    }

    &__social,
    &__ride {
        border: .1rem solid var(--color-secondary);
        padding-right: 4vw;
    }

    &__heading,
    &__par {
        @media only screen and (max-width: $bp-small) {
            text-align: center;
        }
    }

    &__heading {
        text-transform: capitalize;
        margin-bottom: var(--margin-medium);
        font-size: var(--font-large);
        @media only screen and (max-width: $bp-large) {
            font-size: var(--font-medium);
        }
    }

    &__par {
        font-size: var(--font-medium);
        &::first-letter {
            text-transform: capitalize;
        }
        @media only screen and (max-width: $bp-large) {
            font-size: var(--font-small);
        }
    }
}

.heading-3 {
    font-size: var(--font-medium);
    text-align: center;
    @media only screen and (max-width: $bp-large) {
        font-size: var(--font-small);
    }   
}