// FOR ALL SECTIONS
.section {

    //ALL SECTION HEADING
    &__heading {
        margin: var(--margin-medium) 0 ;
        text-align: center;
        text-transform: uppercase;
        font-size: var(--font-xlarge);

        @media only screen and (max-width: $bp-large) {
            font-size: var(--font-large);
        }
          
        @media only screen and (max-width: $bp-xsmall) {
            font-size: 2.2rem;
        }
    }
}

///DEFINITION SECTION
.defn {
    padding: calc(2 * var(--margin-large)) 0 var(--margin-large); 
    max-width: 78%;
    //min-height: 82.8rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, minmax(25rem, 50rem));
    // grid-template-columns: minmax(1rem, 1fr) repeat(2, minmax(15rem, 50rem)) minmax(1rem, 1fr);

    grid-template-rows: repeat(2, min-content);
    grid-auto-flow: row;
    grid-column-gap: 5vw;
    justify-content: center;

    @media only screen and (max-width: $bp-large) {
        // grid-template-columns: repeat(2, minmax(30rem, 1fr));
        grid-column-gap: .2vw;
        max-width: 88%;
    }
    
    @media only screen and (max-width: $bp-medium) {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 0;
        max-width: 88%;
        // background-color: red;
    }
    @media only screen and (max-width: $bp-small) {
        grid-template-columns: repeat(2, minmax(13rem, 1fr));
        max-width: 85%;
    }

    &__heading {
        grid-column: 1 / -1;
        grid-row: 1 / 2;
    }
   
    &__article-container {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        @media only screen and (max-width: $bp-small) {
            grid-column: 1 / -1;
        }
        padding: 3vw;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-size: var(--font-medium)
    }

    &__img-container {
        grid-column: 2 / 3;
        grid-row: 2 / 3;

        @media only screen and (max-width: $bp-small) {
            grid-column: 1 / -1;
            grid-row: 3 / 4;
        }
    }


    &__img {
        object-fit: cover;
        width: 100%;
        height: 100%;

    }

    &>* {}
}

//SECTION HOW IT WORKS

//CONTAINER FOR WORK SECTION
.work {
    
    padding: 5rem 0 8rem;
    max-width: 80%;
    margin-right: auto;
    margin-left: auto;

    @media only screen and (max-width: $bp-medium) {
        max-width: 90%;
    }
    @media only screen and (max-width: $bp-large) {
        max-width: 88%;
    }

    &__heading {
        margin-bottom: calc(3 * var(--margin-medium));

        @media only screen and (max-width: $bp-medium) {
            margin-bottom: calc(2 * var(--margin-medium));
        }

    }
        

    &__div {
        max-width: 80rem;
        margin: 0 auto calc(4 * var(--margin-medium));
        display: flex;
        justify-content: space-between;

        @media only screen and (max-width: $bp-small) {
            flex-direction: column;
            align-items: center;
            margin: 0 auto calc(2 * var(--margin-medium));
        }
    }

    &__img--container {
        flex: 45% 0 0;
        max-height: 20rem;
        max-width: 30rem;
        
        @media only screen and (max-width: $bp-small) {
            max-width: 20rem;
        }
    }

    &__article {
        flex: 50% 0 0;       
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    &__order--1 {
        @media only screen and (max-width: $bp-small) {
            order: 1;
        }
    }
}



/// EXPERIENCE SECTION

.experience {
    color: #fff;
    background-color: var(--color-secondary);
    padding: calc(2 * var(--margin-medium)) 0 calc(5 * var(--margin-medium));

    @media only screen and (max-width: $bp-small) {
        padding: calc(2 * var(--margin-medium)) calc(2 * var(--margin-medium)) calc(5 * var(--margin-medium));
    }

    &__div--container {
        padding: 2rem;
        width: 100%;
        max-width: 118rem;
        margin: 0 auto;;

        display: grid;
        // grid-template-columns: repeat(auto-fit, minmax(21rem, 30rem));
        grid-template-columns: repeat(3, minmax(23rem, 35rem));
        grid-template-rows: min-content;
        grid-auto-flow: row;
        grid-column-gap: 1vw;
        place-content: center;

        @media only screen and (max-width: $bp-large) {
            grid-template-columns: repeat(3, minmax(18rem, 28rem));
            grid-column-gap: 1.2vw; 
        }
        @media only screen and (max-width: $bp-medium) {
            grid-template-columns: repeat(2, minmax(21rem, 1fr));
            grid-column-gap: 0;
            grid-row-gap: 10vh;  
        }
        @media only screen and (max-width: $bp-small) {
            grid-template-columns: minmax(21rem, 28rem);
        }
    }

    &__div {
        
        padding: var(--margin-medium);
        display: flex;
        flex-direction: column;
        align-items: center;
        
        @media only screen and (max-width: $bp-medium){
            padding: .8rem;
        }
    
        &--heading {
            text-transform: uppercase;
            margin: 3rem 0;

            /// HAD TOO MUCH BOTTOM MARGIN BELOW THIS POINT
            @media only screen and (max-width: 655px) {
                margin: 2rem 0;
            }
        }
    }

    &__par {
        text-align: center;
        
        // @extend %first-letter;
        // font-size: var(--font-medium);
    }

    &__img--container {
        min-width: 7rem;
        max-width: 40%;
        height: auto;
        //height: 80%;
        margin-bottom: var(--margin-medium);

        @media only screen and (max-width: $bp-medium) {
            max-width: 30%;
        }
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}


//SECTION IMPROVE
.improve {
    padding: 0 5vw;
    min-width: 70%;
    // max-width: 60rem;
    color: #000;
    margin: calc(3 * var(--margin-medium)) auto;
    //background-color: blue;

    &__heading {
        // text-align: center;
        // background-color: red;
        margin-bottom: calc(2 * var(--margin-medium));
    }

    &__download {
        display: flex;
        justify-content: center;       

        @media only screen and (max-width: $bp-small) {
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            height: 15rem;  
        }
    }

    &__img--container {
        flex: 40% 0 0;
        max-width: 22rem;
        min-height: 4rem;
        max-height: 6.2rem;

        @media only screen and (max-width: $bp-small) {
            max-width: 20rem;
        }
        @media only screen and (max-width: $bp-large) {
            max-height: 5rem;
        }

        &:first-child {
            margin-right: var(--margin-medium);

            @media only screen and (max-width: $bp-medium) {
                margin-right: 0;
            }
            @media only screen and (max-width: $bp-small) {
                margin-right: 0;
            }
        }
    }

    &__download--img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}


///COMPONENTS
///MY PLACEHOLDER

.about,
.contact,
.customer,
.works,
.blog {
    min-height: calc(100vh - 6rem);

    &__heading {
        margin-top: 4rem;
        text-align: center;
        text-transform: capitalize;
        color: var(--color-secondary);
    }
}

.relax {

    width: 70%;
    min-height: 50vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    &__rotate {
        width: 9rem;
        height: 9rem;
        display: block;
        border: 1rem solid var(--color-secondary);
        border-right: dotted var(--color-secondary);
        border-radius: 50%;
        animation: rotate-circle;
        animation-duration: 2s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }

    @keyframes rotate-circle {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }
}